<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Romal_George_301107788">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RomalGeorge_COMP304_Assignment3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.Romal_George_301107788.Exercise3" />
        <activity android:name="com.example.Romal_George_301107788.Exercise2" />
        <activity android:name="com.example.Romal_George_301107788.Exercise1" />
        <activity android:name="com.example.Romal_George_301107788.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>